
<h1 class="titre_page">Les éléments chimiques utiles</h1>
<div class="flex-row">
    <liste_element></liste_element>
    <form_element></form_element>
</div>
<div class="flex-row-space-around">
    <img src="assets/img/tableau_H.png" class="case_tab" (click)="ajoutH()">
    <img src="assets/img/tableau_C.png" class="case_tab" (click)="ajoutC()">
    <img src="assets/img/tableau_N.png" class="case_tab" (click)="ajoutN()">
    <img src="assets/img/tableau_O.png" class="case_tab" (click)="ajoutO()">
</div>
<img src="assets/img/tableau_periodique_moderne.png" id="tableau_periodique_moderne">
