form_element{
    padding: 30px;
}
#tableau_periodique_moderne{
    width: 100%;
}
.img_elem img{
    margin: 30px;
}
.imagClick{
    flex-wrap: wrap;
    align-items: center;
}

.case_tab{
    margin: 20px;
    height: 21%;
}