<div>
	<form class="formulaire flex-col-center formulaire_standard" id="formulaire_molecule" (ngSubmit) = "onSubmit()">
		<!-- <input type="hidden" class="form-control" name="nombre_atomique"> -->
		<section class="flex-row section_form" id="section_formule_brute"> <!--  FORMULE BRUTE-->
            <div class="flex-row"> 
                <!-- INPUT C -->
                <label class="form-label">C</label>
               <!-- <input [(ngModel)]="moleculeAAnalyser.nb_C" type="number" class="form-control" [formControl]="nb_C">-->
                <select [(ngModel)]="moleculeAAnalyser.nb_C" class="form-select" [formControl]="nb_C_verif" >
                    <option *ngFor="let c of comptage" [ngValue]="c">{{c}}</option>
                </select>
                 
                <!-- INPUT H -->
                <label class="form-label">H</label>
                <input [(ngModel)]="this.nombre_de_H" type="number" class="form-control" [formControl]="nb_H_verif" value="calcul_nombre_de_H()" readonly>
               
                <!-- INPUT O -->
                <label class="form-label">O</label>
               <select [(ngModel)]="moleculeAAnalyser.nb_O" class="form-select" [formControl]="nb_O_verif">
                    <option [ngValue]="0" selected>0</option>
                    <option *ngFor="let n of comptage;" value="n">{{n}}</option>
                </select>

                <!-- INPUT N -->
                <label class="form-label">N</label>
               <!-- <input [(ngModel)]="moleculeAAnalyser.nb_N" type="number" class="form-control"  [formControl]="nb_N_verif">-->
               <select [(ngModel)]="moleculeAAnalyser.nb_N" class="form-select" [formControl]="nb_N_verif">
                    <option [ngValue]="0" selected>0</option>
                    <option *ngFor="let n of comptage;" value="n">{{n}}</option>
                </select>
            </div>
        </section>
        <section class="flex-row section_form" id="section_fonctions"> <!--  FONTIONS CHIMIQUES-->
            <!-- Alcene -->
            <div class="form-check form-check-inline flex-col-center largeur-fixe">
                <div>
                    <input [(ngModel)]="moleculeAAnalyser.alcene" class="form-check-input" type="checkbox" value="" [formControl]="alcene_verif">
                    Alcene
                </div>
                <div *ngIf="alcene_verif.value">
                    sur le C n°
                    <select [(ngModel)]="moleculeAAnalyser.alcene" class="form-select" name="numC_alcene">
                        <option *ngFor="let c of nb_C_verif.value;" value="c.index">{{c.index}}</option>
                    </select>
                </div>
            </div>
            <!-- Alcyne -->
            <div class="form-check form-check-inline flex-col-center largeur-fixe">
                <div>
                    <input [(ngModel)]="moleculeAAnalyser.alcyne" class="form-check-input" type="checkbox" value="" [formControl]="alcyne_verif">
                    Alcyne
                </div>
                <div *ngIf="alcyne_verif.value">
                    sur le C n°
                    <select [(ngModel)]="moleculeAAnalyser.alcyne" class="form-select" name="numC_alcyne">
                        <option *ngFor="let c of nb_C_verif.value;" value="c.index">{{c.index}}</option>
                    </select>
                </div>
            </div>
           <!-- Alcool -->
           <div class="form-check form-check-inline flex-col-center largeur-fixe">
               <div>
                    <input [(ngModel)]="moleculeAAnalyser.alcool" class="form-check-input" type="checkbox" value="" [formControl]="alcool_verif">
                    Alcool
                </div>
                <div *ngIf="alcool_verif.value">
                    sur le C n°
                    <select [(ngModel)]="moleculeAAnalyser.alcool" class="form-select" name="numC_alcool">
                        <option *ngFor="let c of nb_C_verif.value;" value="c.index">{{c.index}}</option>
                    </select>
                </div>
            </div>
            <!-- Aldéhyde -->
            <div class="form-check form-check-inline flex-col-center largeur-fixe">
                <div>
                    <input [(ngModel)]="moleculeAAnalyser.aldehyde" class="form-check-input" type="checkbox" value="" [formControl]="aldehyde_verif">
                    Aldehyde
                </div>
                <div *ngIf="aldehyde_verif.value">
                    sur le C n°
                    <select [(ngModel)]="moleculeAAnalyser.aldehyde" class="form-select" name="numC_aldehyde">
                        <option *ngFor="let c of nb_C_verif.value;" value="c.index">{{c.index}}</option>
                    </select>
                </div>
            </div>
            <!-- Cétone -->
            <div class="form-check form-check-inline flex-col-center largeur-fixe">
                <div>
                    <input [(ngModel)]="moleculeAAnalyser.cetone" class="form-check-input" type="checkbox" value="" [formControl]="cetone_verif">
                    Cétone
                </div>
                <div *ngIf="cetone_verif.value">
                    sur le C n°
                    <select [(ngModel)]="moleculeAAnalyser.cetone" class="form-select" name="numC_cetone">
                        <option *ngFor="let c of nb_C_verif.value;" value="c.index">{{c.index}}</option>
                    </select>
                </div>
            </div>
            <!-- Acide -->
            <div class="form-check form-check-inline flex-col-center largeur-fixe">
                <div>
                    <input [(ngModel)]="moleculeAAnalyser.acide" class="form-check-input" type="checkbox" value="" [formControl]="acide_verif">
                    Acide
                </div>
                <div *ngIf="acide_verif.value">
                    sur le C n°
                    <select [(ngModel)]="moleculeAAnalyser.acide" class="form-select" name="numC_acide">
                        <option *ngFor="let c of nb_C_verif.value;" value="c.index">{{c.index}}</option>
                    </select>
                </div>
            </div>
            <!-- Amine -->
            <div class="form-check form-check-inline flex-col-center largeur-fixe">
                <div>
                    <input [(ngModel)]="moleculeAAnalyser.amine" class="form-check-input" type="checkbox" value="" [formControl]="amine_verif">
                    Amine
                </div>
                <div *ngIf="amine_verif.value">
                    sur le C n°
                    <select [(ngModel)]="moleculeAAnalyser.amine" class="form-select" name="numC_amine">
                        <option *ngFor="let c of nb_C_verif.value;" value="c.index">{{c.index}}</option>
                    </select>
                </div>
            </div>
        </section>
        <!-- Submit -->
        <button type="submit" class="btn btn-success">Ajouter</button>
	</form>
</div>



<!--
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div>
-->
