/*.section_form{
    display: inline;
}*/
#formulaire_molecule{
    width: 80%;
    margin: auto;
}
#formulaire_molecule label{
    margin-right: 5px;
}
#formulaire_molecule input{
    margin-right: 1em;
}
#section_formule_brute input{
    margin-right: 2em;
    width: 100px;
}
#section_formule_brute select{
    margin-right: 2em;
    width: 100px;
}
#section_fonctions{
    margin-top: 20px;
}
#section_fonctions select{
    margin-right: 2em;
    width: 100px;
}
.largeur-fixe{
    width: 6em;
}
#table_molecule{
    width: 80%;
    margin: auto;
}