<div class="footerchimie flex-col-center">
    <div id="copyright">Copyright Cédric Lopez</div>
     <div class="contacts">
        <a class="col-12 col-sm-6 col-lg-3" target="_blank" href="https://github.com/CedricLopezCode">
            <span>GitHub</span>
            <img src="assets/icon/logo_github_icon_143196.ico">
        </a>
        <a class="col-12 col-sm-6 col-lg-3" target="_blank" href="https://www.linkedin.com/in/c%C3%A9dric-lopez-a37b58106/">
            <span>Linkedin</span>
            <img src="assets/img/linkdin.png">
        </a>
        <a class="col-12 col-sm-6 col-lg-3" href="tel:+33678117101">
            <span>Telephone</span>
            <img src="assets/icon/22011-bubka-mobiletelephone_vista.ico">
        </a>
        <a class="col-12 col-sm-6 col-lg-3" href="mailto:cedric-lopez@hotmail.fr">
            <span>Mail</span>
            <img src="assets/icon/19783-bubka-Forward_vista.ico">
        </a>
    </div>
</div>
  <!--    -->