

<h1 class="titre_page">Accueil</h1>

<p class="slogan flex-col-center">Plus besoin de se casser la tête en banalités !!!</p>

<div class="flex-row-center"> 
    <div class="flex-col-center collo">
        <a routerLink="/atomes" class="flex-col-center">
            <img src="assets/img/atom5.png">
            Elements
        </a>
        <p class="desc_home">Plus besoin de se casser la tête à</p>
        <p class="desc_home">Retenir le tableau périodique il est là !</p>
        <p class="desc_home">En tableau ou sous forme de liste </p>
    </div>
    <div class="flex-col-center collo">
        <a routerLink="/molecule" class="flex-col-center">
            <img src="assets/img/molorga.png">
            Molécules
        </a>
        <p class="desc_home">Plus besoin de se casser la tête à</p>
        <p class="desc_home">Analyser chaque molécule pour avoir ses infos</p>
    </div>
    <div class="flex-col-center collo">
        <a routerLink="/retrosynthese/alcane" class="flex-col-center">
            <img src="assets/img/reac6.png">
            Rétrosynthèse
        </a>
        <p class="desc_home">Plus besoin de se casser la tête à</p>
        <p class="desc_home">Se souvenir de toutes les réactions possibles</p>
        <p class="desc_home">Chercher une suite de réactions</p>
    </div>
</div>
