
<nav id="nav_retro" class="flex-row-space-around">
    <button class="btn btn-info" (click)="changRetro('alcane')">Alcane</button>
    <button class="btn btn-info" (click)="changRetro('alcene')">Alcène</button>
    <button class="btn btn-info" (click)="changRetro('alcyne')">Alcyne</button>
    <button class="btn btn-info" (click)="changRetro('alcool')">Alcool</button>
    <button class="btn btn-info" (click)="changRetro('aldehyde')">Aldéhyde</button>
    <button class="btn btn-info" (click)="changRetro('cetone')">Cétone</button>
    <button class="btn btn-info" (click)="changRetro('acide')">Acide</button>
    <button class="btn btn-info" (click)="changRetro('amine')">Amine</button>
</nav>


<div [ngSwitch]="fonc" id="cheminsRetro">
    <div class="flex-col-center" *ngSwitchCase="'alcane'">
        <img src="assets/img/retro_alcane.gif">
        <img src="assets/img/retro_alcane_alcene_alcool.gif">
        <img src="assets/img/retro_tous_CH.gif">
    </div>
    <div class="flex-col-center" *ngSwitchCase="'alcene'">
        <img src="assets/img/retro_alcene.gif">
        <img src="assets/img/retro_alcane_alcene_alcool.gif">
        <img src="assets/img/retro_alcene_ou_amine.gif">
        <img src="assets/img/retro_alcene2.gif">
        <img src="assets/img/retro_tous_CH.gif">
    </div>
    <div class="flex-col-center" *ngSwitchCase="'alcyne'">
        <img src="assets/img/retro_alcyne_alcool.gif">
        <img src="assets/img/retro_tous_CH.gif">
    </div>
    <div class="flex-col-center" *ngSwitchCase="'alcool'">
        <img src="assets/img/retro_alcool.gif">
        <img src="assets/img/retro_alcane_alcene_alcool.gif">
        <img src="assets/img/retro_alcool2.gif">
        <img src="assets/img/retro_alcool3.gif">
        <img src="assets/img/retro_alcyne_alcool.gif">
        <img src="assets/img/retro_alcane_alcene_alcool.gif">
        <img src="assets/img/retro_tous_O.gif">
    </div>
    <div class="flex-col-center" *ngSwitchCase="'aldehyde'">
        <img src="assets/img/retro_tous_O.gif">
        <img src="assets/img/retro_alcane_alcene_alcool.gif">
    </div>
    <div class="flex-col-center" *ngSwitchCase="'cetone'">
        <img src="assets/img/retro_tous_O.gif">
        <img src="assets/img/retro_cetone.gif">
    </div>
    <div class="flex-col-center" *ngSwitchCase="'acide'">
        <img src="assets/img/retro_tous_O.gif">
    </div>
    <div class="flex-col-center" *ngSwitchCase="'amine'">
        <img src="assets/img/retro_alcene_ou_amine.gif">
    </div>
</div>
