.navchimie{
    justify-content: space-around;
    padding: 10px;
    height: 3em;
    background: turquoise;
}
#titre{
    font-weight: bold;
    color: rgba(255, 0, 0, 0.671);
    font-size: 2em;
}
.navchimie a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.671);
    font-size: 1em;
}
.navchimie img{
    height: 2.8em;
    margin-right: 1em;
}