
<nav class="navchimie flex-row-center">
    <a routerLink="home" class="flex-row-center">
        <img src="assets/img/17703-Ornorm-AKRHome_vista.png">
        Accueil
    </a>
    <a routerLink="atomes" class="flex-row-center">
        <img src="assets/img/atom5.png">
        Elements
    </a>
    <a routerLink="molecule" class="flex-row-center">
        <img src="assets/img/molorga.png">
        Molécules
    </a>
    <a routerLink="retrosynthese/alcane" class="flex-row-center">
        <img src="assets/img/reac6.png">
        Rétrosynthèse
    </a>
        <!-- Bonnes image reac: 6png 12jpg 15jpg 17png 18jpg -->
    <!-- 
    <a routerLink="pageElement" class="flex-row-center">
        <img src="assets/img/reac15.png">
        Rétrosynthèse
    </a>
    <a routerLink="pageElement" class="flex-row-center">
        <img src="assets/img/reac17.png">
        Rétrosynthèse
    </a>
    <a routerLink="pageElement" class="flex-row-center">
        <img src="assets/img/reac12.jpg">
        Rétrosynthèse
    </a>
    <a routerLink="pageElement" class="flex-row-center">
        <img src="assets/img/reac18.jpg">
        Rétrosynthèse
    </a>-->
</nav>

