@charset "UTF-8";

.test{
    background: red;
}

body{
	background: black;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-row-space-around{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flex-row-center{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex-col{
	display: flex;
	flex-direction: column;
}
.flex-col-space-around{
	display: flex;
	flex-direction: col;
	justify-content: space-around;
}
.flex-col-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}
form{
	border: solid 3px white;
}
.form_user{
	margin: 5em 10em;
	padding: 5em;
	width: 40em;
	background: midnightblue;
	border: solid 3px white;
}
.listeRead{
	margin: 5em 10em;
	padding: 5em;
	width: 40em;
	background: midnightblue;
	text-align: center;
	border: solid 3px white;
}
.listeRead img{
	height: 30px;
}
.listeRead td{
	border-bottom: solid 1px white;
}
#sommaire_boutons a{
	margin: 10px;
}
.modal-dark{
	background: black;
}
app-root{
	width: 100%;
}
.formulaire_standard{
	margin: 30px 0;
	padding: 30px;
	background: midnightblue;
}
.titre_page{
	margin-top: 20px;
	text-align: center;
	color: rgba(255, 0, 0, 0.671);
}